/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"); */

input {
  /* border: none; */
  border: 2px solid var(--fulvous);
  padding: 8px;
  border-radius: 3px;
}

.input-field {
  position: relative;
  background: none;

  transition: border-color 0.3s ease;
  padding: 12px;
}

.placeholder {
  position: absolute;
  top: 20px;
  left: 1rem;
  transition: top 0.3s ease, font-size 0.3s ease;
  /* padding: 8px; */
}

.input-field input:valid ~ .placeholder,
input:focus ~ .placeholder {
  top: 0px;
  left: 8px;
  font-size: 10px;
}

/* .input-field input:focus ~ label,
input:valid ~ label {
  top: 0px;
  left: 8px;
  font-size: 10px;
} */

.input-field .error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: var(--border-danger);
  color: #fff;
  height: 24px;
}

.input-field .error-message:empty {
  opacity: 0;
}
