/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"); */

* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  --fulvous: rgb(217, 126, 28);
  --fulvous-light: rgba(217, 126, 28, 0.349);
  --border-danger: rgb(216, 43, 43);
  --bright-navy-blue: hsla(211, 77%, 48%, 1);
  --hookers-green: hsla(152, 21%, 36%, 1);
  --border-succes: rgb(73, 216, 149);
  --mint-cream: hsla(120, 100%, 98%, 1);
  --black-chocolate: hsla(57, 100%, 4%, 1);
}

.disp-flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.btn-section {
  padding: 8px;
}

button {
  padding: 8px 14px;
  min-width: 5rem;
  max-height: 2.25rem;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}

.btn-prim {
  border: none;
  background-color: var(--fulvous);
  color: white;
}

.p-outline {
  background-color: white;
  color: var(--fulvous);
  border: 1px solid var(--fulvous);
  font-weight: bolder;
}

.btn-secd {
  border: none;
  background-color: var(--bright-navy-blue);
  color: white;
}

.s-outline {
  background-color: white;
  color: var(--bright-navy-blue);
  border: 1px solid var(--bright-navy-blue);
  font-weight: bolder;
}

.btn-succ {
  color: green;
  background-color: var(--fulvous-light);
  border: 2px solid var(--border-succes);
}

.btn-dgr {
  color: red;
  background-color: var(--fulvous-light);
  border: 2px solid var(--border-danger);
}

.btn-float {
  border: none;
  background-color: var(--fulvous);
  color: white;
}
