<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./buttons.css" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <title>Buttons</title>
  </head>
  <body>
    <h3>Buttons</h3>
    <section class="btn-section disp-flex-col">
      <div>
        <button class="btn-prim">Primary button</button>
        <button class="btn-prim p-outline">Primary button</button>
      </div>
      <div>
        <button class="btn-secd">Secondary button</button>
        <button class="btn-secd s-outline">Secondary button</button>
      </div>
      <h3>Buttons with icon</h3>
      <button class="btn-succ">
        <i class="fas fa-search"></i>
        Search button
      </button>
      <button class="btn-dgr">
        <i class="fas fa-times"></i>
        Cancel button
      </button>
      <h3>Floating axtion Buttons</h3>
      <button class="btn-float">
        <i class="far fa-hand-paper"></i>
        Talk to us here!
      </button>
      <h3>Link Button</h3>
      <button class="btn-prim links">
        <a href="#"> Take Me Home </a>
      </button>
    </section>
  </body>
</html>
