/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"); */

.avatar-section {
  border: none;
}

.bs {
  background-color: var(--fulvous-light);
  border: none;
}

.br-bs {
  /* background-color: var(--fulvous-light); */
  background-color: #d97e1cc9;
  border: 1px solid var(--border-danger);
}

.br-sc {
  background-color: var(--fulvous-light);
  border: 1px solid var(--border-succes);
}

.av-m {
  position: relative;
  /* height: 10%;
  width: 10%; */
  height: 3em;
  width: 3em;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-radius: 50%;
  display: flex;
}

.av-m img {
  height: 100%;
  width: 100%;
  border: 1px solid var(--fulvous-light);
  border-radius: 50%;
}

.av-l {
  position: relative;
  /* height: 10%;
    width: 10%; */
  height: 4em;
  width: 4em;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-radius: 50%;
  display: flex;
}

.av-l img {
  height: 100%;
  width: 100%;
  border: 1px solid var(--fulvous-light);
  border-radius: 50%;
}

.av-s {
  position: relative;
  /* height: 10%;
      width: 10%; */
  height: 3em;
  width: 3em;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-radius: 50%;
  display: flex;
}

.av-s img {
  height: 100%;
  width: 100%;
  border: 1px solid var(--fulvous-light);
  border-radius: 50%;
}
