<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./rating.css" />
    <title>Rating</title>
  </head>
  <body>
    <section class="rating-section">
      <section class="star-icons">
        <i class="fas fa-star fill"></i>
        <i class="fas fa-star fill"></i>
        <i class="fas fa-star fill"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </section>
      <section class="rating-icon">
        <span>4.5</span>
        <i class="fas fa-star fill"></i>
      </section>
      <section class="rating-icon">
        <span>4.5</span>
        <i class="fas fa-star fill"></i>
      </section>
    </section>
  </body>
</html>
