<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
    <title>Navbar</title>
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="fix">
      <nav class="nav nav--sticky">
        <h1>
          <span><i class="fas fa-bars"></i></span>
          Awesome
        </h1>
        <div class="nav--items">
          <p>Home</p>
          <p>About</p>
          <p>Work</p>
          <p>User</p>
          <div class="av-s br-bs">A</div>
        </div>
      </nav>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem vel ea
        aliquid, totam mollitia praesentium, alias consequuntur tempore eaque
        voluptatem magnam quod enim? Voluptas sapiente placeat, blanditiis
        officiis autem tempora? Voluptatum doloremque nobis corrupti facere.
        Sapiente illo sed iste atque nam rem est, dolorem distinctio quos
        quidem, ea iusto reprehenderit quas consequatur culpa dicta obcaecati
        inventore non reiciendis omnis quo.
      </div>
    </div>

    <div class="fix">
      <nav class="nav">
        <h1>
          <span><i class="fas fa-bars"></i></span>
          Awesome
        </h1>
        <div class="nav--items">
          <p>Home</p>
          <p>About</p>
          <p>Work</p>
          <p>User</p>
          <div class="av-s br-bs">A</div>
        </div>
      </nav>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem vel ea
        aliquid, totam mollitia praesentium, alias consequuntur tempore eaque
        voluptatem magnam quod enim? Voluptas sapiente placeat, blanditiis
        officiis autem tempora? Voluptatum doloremque nobis corrupti facere.
        Sapiente illo sed iste atque nam rem est, dolorem distinctio quos
        quidem, ea iusto reprehenderit quas consequatur culpa dicta obcaecati
        inventore non reiciendis omnis quo.
      </div>
    </div>

    <div class="fix">
      <nav class="nav nav--sticky nav--short">
        <h1>
          <span><i class="fas fa-bars"></i></span>
          Awesome
        </h1>
      </nav>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem vel ea
        aliquid, totam mollitia praesentium, alias consequuntur tempore eaque
        voluptatem magnam quod enim? Voluptas sapiente placeat, blanditiis
        officiis autem tempora? Voluptatum doloremque nobis corrupti facere.
        Sapiente illo sed iste atque nam rem est, dolorem distinctio quos
        quidem, ea iusto reprehenderit quas consequatur culpa dicta obcaecati
        inventore non reiciendis omnis quo.
      </div>
    </div>
  </body>
</html>
