<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./textutils.css" />
    <title>Text Utilis</title>
  </head>
  <body>
    <p>Text Utils</p>
    <div class="typography-section disp-flex-col">
      <div class="text-xl">Heading 1</div>
      <div class="text-l text-grey">Heading 2</div>
      <div class="text-m text-center">Heading 3</div>
      <div class="text-sm text-center">Heading 4</div>
    </div>
  </body>
</html>
