<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/components/components.css" />

    <title>Alert</title>
  </head>
  <body>
    <h2>Toasts</h2>
    <section class="toast disp-flex">
      <div class="toast-bs disp-flex-col">
        <div class="toast-title disp-flex-row">
          Default Toast
          <span><i class="fas fa-times"></i></span>
        </div>
        <div class="toast-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
          quisquam fugit totam voluptate excepturi, repellendus iure. Facilis
          aliquam dolores consequuntur reprehenderit, a perspiciatis harum
          voluptatibus voluptate molestias, corporis quam ab.
        </div>
      </div>
    </section>
  </body>
</html>
