@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  --fulvous: rgb(217, 126, 28);
  --fulvous-light: rgba(217, 126, 28, 0.349);
  --border-danger: rgb(216, 43, 43);
  --bright-navy-blue: rgba(28, 119, 217, 0.63);
  --hookers-green: rgb(73, 111, 93);
  --border-succes: rgb(73, 216, 149);
  --mint-cream: hsla(120, 100%, 98%, 1);
  --black-chocolate: hsla(57, 100%, 4%, 1);
}

.disp-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 2px;
}

.disp-flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2px;
}

.disp-flex-row {
  display: flex;
  flex-direction: row;
}

.toast-bs {
  max-width: 450px;
  /* border: 2px solid black; */
  border: 1px solid var(--fulvous);
  border-radius: 5px;
  /* padding: 8px; */
}

.toast-title {
  font-weight: bolder;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
  background-color: var(--fulvous-light);
}

.toast-description {
  padding: 8px;
  color: rgb(143, 143, 143);
}
