@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap");
@import "/components/avatar.css";
@import "/components/alert/alert.css";
@import "/components/badge.css";
@import "/components/button.css";
@import "/components/card/Card.css";
@import "/components/image/image.css";
@import "/components/input-box/inputBox.css";
@import "/components/list-items/lists.css";
@import "/components/toast/toast.css";
@import "/components/text-utils/textutils.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Assistant", sans-serif;
}

:root {
  font-family: "Inter", sans-serif;
  --fulvous: rgb(217, 126, 28);
  --fulvous-light: rgba(217, 126, 28, 0.349);
  --border-danger: rgb(216, 43, 43);
  --bright-navy-blue: hsla(211, 77%, 48%, 1);
  --hookers-green: hsla(152, 21%, 36%, 1);
  --border-succes: rgb(73, 216, 149);
  --mint-cream: hsla(120, 100%, 98%, 1);
  --black-chocolate: hsla(57, 100%, 4%, 1);
}
