<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <link rel="stylesheet" href="./badges.css" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <title>Badges</title>
  </head>
  <body>
    <h3>Badges</h3>
    <h2 class="sub-heading">Badges</h2>
    <section class="avatar-section disp-flex">
      <div class="av-s bs">
        A
        <div class="badge-s"></div>
      </div>
      <div class="av-s br-bs">
        F
        <div class="badge-s"></div>
      </div>
      <div class="av-s br-sc">
        S
        <div class="badge-s"></div>
      </div>
      <div class="av-s">
        <img src="https://picsum.photos/200" />
        <div class="badge-s w-txt">12+</div>
      </div>
      <div class="av-s">
        <i class="ic-b-small fas fa-bell"></i>
        <div class="badge-s w-txt">12+</div>
      </div>
    </section>
    <h2 class="sub-heading">Badges</h2>
    <section class="avatar-section disp-flex">
      <div class="av-m bs">
        A
        <div class="badge-m"></div>
      </div>
      <div class="av-m br-bs">
        F
        <div class="badge-m"></div>
      </div>
      <div class="av-m br-sc">
        S
        <div class="badge-m"></div>
      </div>
      <div class="av-m">
        <img src="https://picsum.photos/200" />
        <div class="badge-m w-txt">10+</div>
      </div>
      <div class="av-s">
        <i class="ic-b-medium fas fa-bell"></i>
        <div class="badge-s w-txt">12+</div>
      </div>
    </section>
    <h2 class="sub-heading">Badges</h2>
    <section class="avatar-section disp-flex">
      <div class="av-l bs">
        A
        <div class="badge-l"></div>
      </div>
      <div class="av-l br-bs">
        F
        <div class="badge-l"></div>
      </div>
      <div class="av-l br-sc">
        S
        <div class="badge-l"></div>
      </div>
      <div class="av-l">
        <img src="https://picsum.photos/200" />
        <div class="badge-l w-txt">10</div>
      </div>
      <div class="av-s">
        <i class="ic-b-large fas fa-bell"></i>
        <div class="badge-s w-txt">12+</div>
      </div>
    </section>
  </body>
</html>
