<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./modal.css" />
    <title>Modal</title>
  </head>
  <body>
    <section class="mod dis-flex-col s-75">
      <div class="sec-header p-3">
        <div class="mod-title">Modal Header</div>
        <i class="fas fa-times"></i>
      </div>
      <div class="sec-body p-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        voluptates eius perspiciatis cum quidem fuga labore, explicabo corporis
        distinctio harum velit sequi animi pariatur id reprehenderit dolore
        magni deleniti cupiditate?
      </div>
      <div class="sec-footer p-3">
        <button class="btn-secd">Save</button>
        <button class="btn-secd s-outline gr">Close`</button>
      </div>
    </section>
  </body>
</html>
