<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51b1b3d424.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./alert.css">
    <title>Alert</title>
</head>
<body>
   <h2>Alerts</h2>
   <section class="alerts-section disp-flex">
    <div class="al bs"> 
        Default Alert
    </div>
   </section>
   <h2>Alerts</h2>
   <section class="alerts-section disp-flex">
    <div class="al ss"> 
        Success Alert
    </div>
   </section>
   <h2>Alerts</h2>
   <section class="alerts-section disp-flex">
    <div class="al dn"> 
        Danger Alert
    </div>
   </section>
   <h2>Alerts</h2>
   <section class="alerts-section disp-flex">
    <div class="al in disp-flex-col">
        <div class="heading"> 
            <i class="fas fa-info-circle"></i>
            <h3>Info</h3> 
        </div> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita delectus distinctio aut dolor eveniet </p>
        
    </div>
   </section>
   <h2>Alerts</h2>
   <section class="alerts-section disp-flex">
    <div class="al wn"> 
        <strong>Warning Alert</strong> 
        <span>
            <i class="fas fa-times"></i>
        </span>
    </div>
   </section>
    
</body>
</html>