<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51b1b3d424.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/components/components.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="comp-disp-container disp-flex">
      <ul class="list">
        <div class="list-heading">
          <span>Categories</span>
          <!-- <img src="/images/remove.svg" alt="" /> -->
          <i class="fa-solid fa-minus"></i>
        </div>
        <li>Clothing</li>
        <li>Electronics</li>
        <li>Kitchen</li>
        <li>Music</li>
        <li>Posters</li>
        <li>Scuba gear</li>
        <li>Sweatshirts</li>
      </ul>
    </div>
    <div class="comp-disp-container disp-flex">
      <ul class="list">
        <div class="list-heading">
          <span>Author</span>
        </div>
        <label for="checkbox1">
          <input type="checkbox" />
          Stationary
        </label>
        <label for="checkbox2">
          <input type="checkbox" />
          Pencibox
        </label>
        <label for="checkbox3">
          <input type="checkbox" />
          Table
        </label>
        <label for="checkbox4">
          <input type="checkbox" />
          Table Fan
        </label>
        <label for="checkbox5">
          <input type="checkbox" />
          Lamp
        </label>
        <label for="checkbox6">
          <input type="checkbox" />
          Headphones
        </label>
        <label for="checkbox7">
          <input type="checkbox" />
          Paper File
        </label>
      </ul>
    </div>
  </body>
</html>
